<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div class="github-button" id="github-button">
      <a href="https://github.com/WentseChen/Verlog" target="_blank" class="button-content">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" alt="GitHub" class="icon" />
        <span>Get Started</span>
        <span class="divider"></span>
        <span class="stats">
          ⭐ <span id="star-count">--</span>
          <span class="separator">|</span>
          <svg class="fork-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <path fill="currentColor" d="M5 3.09A2.5 2.5 0 0 1 8 1a2.5 2.5 0 0 1 3 2.09V5a2.5 2.5 0 0 1-2 2.45v1.1A2.5 2.5 0 0 1 11 11v1.91a2.5 2.5 0 1 1-1 0V11a1.5 1.5 0 0 0-3 0v1.91a2.5 2.5 0 1 1-1 0V11a2.5 2.5 0 0 1 2-2.45v-1.1A2.5 2.5 0 0 1 5 5V3.09z"/>
          </svg>
          <span id="fork-count">--</span>
        </span>
      </a>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
